/* 
eazbi_default_themes - 22 September 2019
created by Stevarth Hoke for eazbi.rf.gd
using HTML5 and CSS3 with Native Javascript

work_id: stv_w1909_77-01
this file only for coloring and styling purpose.
*/

:root {
    --prc: #cecece;
    --bc : #000000;
    --adc : #208245;
    --addc  : #d2d4d6;
}

body {
    background: #fff;
    color: #303030;
    font-size: 1.2em;
    font-family: 'Exo 2', sans-serif;
    line-height: 30px;
}

a,a:hover,a:active,a:focus {
    color: var(--adc);
    font-style: oblique;
}

*[it] {
    color: var(--adc);
}

/* #middle {
    background: #fff;
} */

#middle h1, #middle h2, #middle h3, #middle h4, #middle h5, #middle h6 {
    color: var(--adc);
}

#landing {
    background: var(--bc);
    /* background-image: linear-gradient(45deg, #80e4a5, #2d2566); */
    background-image: url(../img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 300ms all ease-in;
}

#landing::after {
    background: #0000008f;
}

#footer {
    background: #000;;
    color: #d2d4d6;
}

.sidename {
    background: #151515;
}

.sidename .brand {
    color:#fff;
}

.tx-mddl {
    text-align: center;
}

.btn {
    background: #000;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.btn:hover {
    background: #303030;
    color: #fff;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 1em;
    }
}

@media screen and (max-width: 330px) {
    body {
        font-size: 0.8em;
    }
}